@page "/lab2"

<h3>Lab 1</h3>

<MatTabGroup Style="background-color:white">
    @*<MatTab Label="One">
        <OnePage />
    </MatTab>
    <MatTab Label="Two">
        <TwoPage />
    </MatTab>
    <MatTab Label="Three">
        <ThreePage />
    </MatTab>*@
</MatTabGroup>